.alert-container {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
}

.alert-box {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out;
}

.alert-danger {
    background-color: #e74c3c;
}

.alert-success {
    background-color: #2ecc71;
}

.alert-container.hide {
    opacity: 0;
    pointer-events: none;
}

.alert-container.show {
    opacity: 1;
}
